@font-face {
    font-family: 'BoldFont';
    src: url('/static/fonts/CircularSpotifyText-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NormalFont';
    src: url('/static/fonts/CircularSpotifyText-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: white;
    margin: 0%;
    color: white;
    background-image: url('../background.jpg'); /* Set your image URL */
    background-size: 100vw 100vh; /* Ensure the background image covers the entire area */
    background-repeat: repeat-y; 
}
.continuous{
    background-image: url('../repeatingbackground.jpg'); /* Set your image URL */
    background-size: 100vw 100vh; /* Ensure the background image covers the entire area */
    background-repeat: repeat-y; 
}

h1{
    font-size: calc(4vh + 4vw );
}
h2{
    font-size: calc(2vh + 1.5vw);
}

.headerdiv{
    font-family: 'BoldFont';
    position: absolute;
    left: 2vw;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: lightblue;
    transition: all 0.2s linear;
}
.navbar{
    font-family: 'BoldFont';
    font-size: calc(1.5vh + 1.5vw);
    height: 11vh;
    width: 100%;

}
#blockright{
    color: white;
   float: right; 
   margin-top: 2vh;

}
#blockright a{
    margin-right: 2vw;
}
#creditheader{
    margin-right: 2vw;
    display: inline;
}
#blockleft{
    color: white;
    float: left;
    margin-top: 2vh;
}
#blockleft a{
    margin-left: 2vw;
}

#whiteblock{
    text-align: center;
    font-size: 60px;
    color: #4f7da0;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 25vh;
    background-color: white;
    z-index: 5;
    
}
.box{    
    align-items: center;
    font-family: 'BoldFont';    
    color: #4f7da0;
    border-radius: 5%;
    position: absolute;
    background-color: white;
    height: 70%;
    top: 15%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
}

#loginbox{
    text-align: center;
    width: 24%;
    left: 38%;

}
.entryfields {
    text-decoration: none;
    width: 80%;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom-color: #4f7da0;


}
.submitbutton{
    font-size: 15px;
    border-radius: 10px;
    border-style: none;
    font-family: 'BoldFont';
    width: 70%;
    height: 8vh;
    background-color: #fedbd2;
}
.submitbutton:hover{
    background-color: lightblue;
    transition: all 0.2s linear;
}


#boxone{
    text-align: center;
    width: 24%;
    left: 7%;
}

#boxtwo{
    text-align: center;
    width: 24%;
    left: 38%;
}
#boxthree{
    text-align: center;
    width: 24%;
    left:69%;
    overflow-y: auto;
}
#entrytimes{
    width: 30%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #4f7da0;

    
}


.capacityfield{
    width: 20%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #4f7da0;
}


#dropdownmenu{
        display: none;
        background-color: white;
        top: 15%;
        width: 80%;
        border-radius: 50px;
        margin-left: 10%;
        margin-top: 2%;
    
    }
#ticketbox{
    position:absolute;
    width: 40%;
    left: 30%;
    text-align: center;
}
#leftbox{
    position: absolute;
    left: 10%;
    top: 5%;
    width: 35%;
    height: 90%;
    text-align: center;
}
#rightbox{
    position: absolute;
    top: 5%;
    left: 55%;
    width: 35%;
    height: 90%;
    text-align: center;
}
.eventbar{
    letter-spacing: 2px;
    border: 2px solid black;   
    padding-left: 5%;   
    width: 100%;
    height: 8%;
    font-family: 'BoldFont';
}
form {
    font-size: calc(1vh + 0.5vw)
}
#changecapacity{
    width: 80%;
}
.eventimage{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
@media screen and (max-height: 699px) {

    .breakdiv {
      height: 5vh;
    }
    .flex-box{
        font-size: 10px;
    }
    .flex-box h2{
        color: #4f7da0;
        font-size: 30px;
    }
    .eventimage{
        width: 100px;
        height: 100px;
    }
    #dropdownmenu{
        font-size: 2vh;
    }
  }

@media screen and (min-height: 700px) {
    .breakdiv {
      height: 12vh;
    }
    .flex-box h2{
        
        color: #4f7da0;
        font-size: 45px;  
    }
  }
  @media screen and (max-width: 700px) {
    label{
        font-size: 0;
    }
  }
  #flexcontainer{
    font-family: 'NormalFont';
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    top: 15%;
    width: 80%;
    min-height: 65vh;
    border-radius: 50px;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 5%;

}

#flexeventbar{
    text-align: center;
    display: flex;
    width: 80%;
    letter-spacing: 2px;
    margin-bottom: 3vh;
    border: 2px solid black;   
    min-height: 4vh;
    font-family: 'BoldFont';
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 


}
#flexheader{
    text-align: center;
    display: flex;
    font-size: 70px;
    font-family: 'BoldFont';
    color:#4f7da0;
}
#dropdownmenuflex{
    margin-top: 2vh;
    text-align: center  ;
    background-color: white;
    width: 80%;
    border-radius: 10px;
    min-height: 2vh;
}
.flex-row{
    display: flex;
    flex-direction: row;
    width: 80%;
    min-height: 65vh;
    margin-bottom: 3vh;
}
.flex-box{
    color: black;
    margin-right: 20px;
    border-radius: 30px;
    flex: 1;
    border: 1p  x solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
    text-align: center;


}


.flex-box .submitbutton{
    height: 6vh;
}

.ticketbutton{
    font-size: 15px;
    border-radius: 10px;
    border-style: none;
    font-family: 'BoldFont';
    width: 70%;
    height: 6vh;
    background-color: lightgreen;
}
.ticketbutton:hover{
    background-color: lightblue;
    transition: all 0.2s linear;
}
#barcoderesize{
    width: 80%;
    height: 60%;
}
#makeitcoral{
    background-color: lightcoral;
}
#makeitcoral:hover{
    background-color: lightblue;
    transition: all 0.2s linear;
}
button{
    width: 10%;
    height: 4%;
}
#resetbox{
    font-family: 'NormalFont';
    width: 80%;
    font-size: larger;
    letter-spacing: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
    border: none;
    text-align: center;
    padding: 4%;
}   
