    {% extends "navbar.html" %}
    {% block head %}
    <title> Password Reset </title>
    <meta name = "description" content = "This page allows you to reset your password via your email">

    <script src='/static/js/resetpassword.js'></script>
    <!-- Attach the script for this page-->
    {% endblock %}
    {% block content %}
    <div class = "box" id = "loginbox">
        <h2> Reset Password </h2>
        <input id = "enteredemail" type= "text" name = "enteredemail" class = "entryfields" placeholder = "Email"><br><br><br>
        <button id = "sendemail" type = "button" class = "ticketbutton">Send Email</button>
        <!-- Add a button to send an email as well as a textbox to input the email-->

        <form action = "/resetpassword" method = 'POST'>
            <h3> Please enter code </h3>
            <input type = "text" id = "resetbox" maxlength="8" placeholder="########" name = "code">
            <!-- Show 8 empty spaces in the input box for the code and prevent users from entering more than 8 characters-->
            <br></br>
            <h3>Please enter new password </h3>
            <input type = "text" class = "entryfields" placeholder="New Password" name = "password">
            <input type = "hidden" id = "hiddenname" name = "hiddenname" value="None">
            <!-- Add a hidden field to be changed later to return the user's email in this form-->
            <br><br>
            {% if error is not none %}
                {{ error }}
                <br><br>
            {% endif %}
            <!-- Display any errors if they exist-->
            <input type = "submit" class = "submitbutton" value = "Reset Password">  
            <!-- Have a submit button for this form-->
        </form>
    </div>
    {% endblock %}  