a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 4rem;
    flex-wrap: wrap;
}

.navbar-left, .navbar-center, .navbar-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar-center {
    justify-content: center;
}

.navbar-right {
    justify-content: flex-end;
    gap: 0.9375rem;
}

.navbar-logo {
    height: 5rem;
    width: auto;
    display: block;
}

/* Mobile Styles */
@media (max-width: 48rem) {
    .navbar {
        flex-direction: column;
        text-align: center;
        gap: 0.625rem;
    }

    .navbar-left, .navbar-center, .navbar-right {
        justify-content: center;
        flex: none;
    }

    .navbar-right {
        flex-direction: column;
        gap: 0.625rem;
    }
}
