
{% extends "basetemplate.html" %}

{% block title %}
Home
{% endblock %}
{% block navbar_left %}
<p id="navbar-title">brazilcensus</p>
{% endblock %}
{% block navbar_right %}
                    <a href="register" class="nav-link">register</a>
                    <a href="login" class="nav-link">login</a>
{% endblock %}
{% block content %}
<div id="demo-row" class = "demo">
  <div id="select-container" class="demo-panel">
    <div class="form">

      <h2 class="form-title">map selector</h2>

      <div class="form-field">
        <label class="form-label" for="category"> category</label>
        <select id="category" class="form-select">
          <option>Population</option>
          <option>Income</option>
          <option>Education</option>
          <option>Health</option>
        </select>
      </div>

      <!-- dropdown row 2 -->
      <div class="form-field">
        <label class="form-label" for="demographic">demographic</label>
        <select id="demographic" class="form-select">
          <option>Age</option>
          <option>Sex</option>
          <option>Race</option>
          <option>Urban/Rural</option>
        </select>
      </div>

      <div class="form-field">
        <label class="form-label" for="year">year</label>
        <select id="year" class="form-select">
          <option>2010</option>
          <option>2020</option>
          <option>2022</option>
          <option selected>2023</option>
        </select>
      </div>

      <div class="form-spacer"></div>
      <div class="form-actions">
        <button class="btn-secondary" type="button">Export</button>
        <button class="btn-secondary" type="button">Reset</button>
      </div>
      <button class="btn-primary" type="button">View Correlations</button>


    </div>
  </div>

  <div id="map-container" class="demo-panel"></div>
</div>
{% endblock %}

