{% extends "basetemplate.html" %}

{% block title %}Register{% endblock title %}

{% block main_id %}id="login-content"{% endblock main_id %}
{% block navbar_center %}
<p id="navbar-title">register</p>
{% endblock %}

{% block content %}
<div class = "demo">
<div class="demo-panel" id = "register-container">
<div class = "form">
    <div class="form-field">
        <label class="form-label" > email</label>
        <input type = "email" class = "form-select" placeholder="user@example.com">

  </div>
    <div class="form-field">
        <label class="form-label" > password </label>
        <input type = "password" class = "form-select" placeholder="*********" >
      </div>

    <div class="form-spacer"></div>
        <a href="login" class="form-link">
            already have an account? login
        </a>
    <button class="btn-primary" type="button">register</button>
</div>
</div>


</div>


{% endblock content %}