{% extends "basetemplate.html" %}

{% block title %}Register{% endblock title %}

{% block main_id %}id="login-content"{% endblock main_id %}
{% block navbar_center %}
<p id="navbar-title">register</p>
{% endblock %}
{% block content %}
<div class = "demo">
<div class="demo-panel" id = "register-container">
<div class = "form-container" >
    <form class = "registerform" method="POST" action="{{ url_for('register') }}">
    <div class="form-field">
        <label class="form-label" > email</label>
        <input name = "email" type = "email" class = "form-select" placeholder="user@example.com">

  </div>
    <div class="form-field">
        <label class="form-label" > password </label>
        <input name = "password" type = "password" class = "form-select" placeholder="*********" >
      </div>

    <div class="form-spacer"></div>
        <a href="register" class="form-link">
            Already have an account? Login
        </a>
    <button class="btn-primary" type="submit">register</button>
      </form>
</div>
</div>


</div>


{% endblock content %}